name: Build iOS

on: workflow_dispatch

jobs:
  ios-template:
    name: Compiling for iOS (Godot ${{matrix.GODOT_VERSIONS}})
    runs-on: "macos-latest"
    strategy:
      matrix:
        GODOT_VERSIONS: ["4.1.0", "4.1.1", "4.1.2", "4.1.3", "4.1.4", "4.2.0", "4.2.1", "4.2.2", "4.3.0", "4.4.0", "4.4.1", "4.5.0", "4.5.1", "4.6.0", "4.6.1"]

    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ github.ref_name }}

    - name: Set plugin version on env
      run: |
        PACKAGE_FILE=$(find src/ads/config -name "*_package.gd" | head -n 1)
        PLUGIN_VERSION=$(grep -hE "VERSION\s*:=\s*\"" $PACKAGE_FILE | sed -E 's/.*"([^"]+)".*/\1/')
        echo "PLUGIN_VERSION=${PLUGIN_VERSION}" >> $GITHUB_ENV

    - name: Verify current matrix's GODOT_VERSIONS
      run: |
        CURRENT_GODOT_VERSION=${{matrix.GODOT_VERSIONS}}
        if [ ${#CURRENT_GODOT_VERSION} -eq 1 ]; then CURRENT_GODOT_VERSION="${CURRENT_GODOT_VERSION}.0"; fi
        echo "CURRENT_GODOT_VERSION=${CURRENT_GODOT_VERSION}" >> $GITHUB_ENV

    - name: Load .scons_cache directory
      id: ios-template-cache
      uses: actions/cache@v5
      with:
        path: ${{github.workspace}}/godot/.scons_cache/
        key: ${{github.job}}-master-${{github.ref}}-${{github.sha}}
        restore-keys: |
          ${{github.job}}-master-${{github.ref}}-${{github.sha}}
          ${{github.job}}-master-${{github.ref}}
          ${{github.job}}-master

    - name: Set up Python 3.x
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'
        architecture: 'x64'

    - name: Configuring Python packages
      run: |
        python -m pip install scons

    - name: Cache SPM dependencies
      uses: actions/cache@v5
      with:
        path: .build
        key: spm-${{ hashFiles('Package.swift', 'Package.resolved') }}
        restore-keys: |
          spm-

    - name: Compiles the Source Code
      env:
        SCONS_CACHE: ${{github.workspace}}/godot/.scons_cache/
      run: |
        ./scripts/build.sh ${{env.CURRENT_GODOT_VERSION}}

    - name: Upload artifact
      uses: actions/upload-artifact@v6
      with:
        name: poing-godot-admob-ios-v${{ env.CURRENT_GODOT_VERSION }}
        path: bin/release/*.zip
        if-no-files-found: error
        retention-days: 1

    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        target_commit: ${{ github.ref_name }}
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: bin/release/*.zip
        file_glob: true
        tag: ${{env.PLUGIN_VERSION}}
        overwrite: true
